@model MTG_Mvc.Domain.Entities.card

@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <div class="row">
        <div class="col-lg-3">
            <img src="@Model.imageUrl" />
        </div>
        <div class="col-lg-3">
            @Model.name  @Model.cmc


            <p>
                @Model.type
                @Model.rarity
                @Model.set
            </p>
            <p>
                @Model.text
            </p>
            <p>
                <i>  @Model.flavourText </i>
            </p>
            <p>Artist: @Model.artist </p>
            <a asp-action="Index">
                Back
            </a>
        </div>
       
    </div>
</div>
