@model MTG_Mvc.Domain.Entities.card

@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <div class="row">
        <div class="col-lg-3">
            <img src="@Model.imageUrl" />
        </div>
        <div class="col-lg-3">
            @Model.name  @Model.manaCost


            <p>
                @Model.type
                @Model.rarity
                @Model.set
            </p>
            <p>
                @Model.text
            </p>
            <p>
                <i>  @Model.flavourText </i>
            </p>
            @if(Model.power!= null && Model.toughness !=null)
            {
                <p>@Model.power / @Model.toughness</p>
            }
            <p>Artist: @Model.artist </p>
            <a asp-controller="decklistView" asp-action="Details" asp-route-id="@Model.decklistid">
                To Deck
            </a>|
            <a asp-action="Index">
                Back
            </a>
        </div>

    </div>
</div>
