@model List<MTG_Mvc.Domain.Entities.card>

@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    @foreach (var item in @Model)
	{

    <div class="row" style="margin: 5%">
        <div class="col-lg-3">
            <img src="@item.imageUrl" />
        </div>
        <div class="col-lg-3">
            @item.name  @item.manaCost


            <p>
                @item.type
                @item.rarity
                @item.set
            </p>
            <p>
                @item.text
            </p>
            <p>
                <i>  @item.flavourText </i>
            </p>
            @if(item.power!= null && item.toughness !=null)
            {
                <p>@item.power / @item.toughness</p>
            }
            <p>Artist: @item.artist </p>
            <a asp-controller="decklistView" asp-action="Details" asp-route-id="@item.decklistid">
                To Deck
            </a>|
            <a asp-action="Index">
                Back
            </a>
        </div>

    </div>
    }
</div>
