@model IEnumerable<MTG_Mvc.Domain.Entities.decklist>

@{
    ViewData["Title"] = "Index";
}

<h1>Decklists Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.deckName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.deckName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit deck Name</a> |
                <a asp-action="Details" asp-route-id="@item.id">View Deck</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete Deck</a>
            </td>
        </tr>
}
    </tbody>
</table>
