@model IEnumerable<MTG_Mvc.Domain.Entities.decklist>

@{
    ViewData["Title"] = "Index";
}

<h1>Decklists Index</h1>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark text-white border-bottom box-shadow mb-3">
    <div class="container ">
        <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1 ">
                <li class="nav-item">
                        <a asp-controller="decklistView" asp-action="Create">Create New Deck</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<p>
</p>
<table class="table text-light" style="margin-top: 5%; width: 72%">
    <thead>
        <tr>
            <th style="border: 0px">
                @Html.DisplayNameFor(model => model.deckName)
            </th>
            <th style="border: 0px">
                Format
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:40%">
                    @Html.DisplayFor(modelItem => item.deckName)
                </td>
                <td style="width:25%">
                    @item.format
                </td>
                <td style="width:48%">
                    <a asp-action="Edit" asp-route-id="@item.id">Edit Deck</a> |
                    <a asp-action="Details" asp-route-id="@item.id">View Deck</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete Deck</a>
                </td>
            </tr>
        }
    </tbody>
</table>

